
<link rel="stylesheet" href="/css/demo_extract.css">
<h1> home page</h1>

<section id="feed-post">
    <h4>post</h4>
    <form action="/post/add" id="new-post-form" method="POST">
        <textarea name="content" id="" cols="30" rows="10" placeholder="type here..." required></textarea><br><br><br>
        <input type="submit" value="post">
    </form>

    <div id="post-list">
        <!-- note how we used for loop -->
        <% for(post of posts){ %>   
            <!-- for each post we separate the code in another file -->
            <%- include('_post') -%>
        <%}%>
    </div>
</section>
