<h1>sign-in</h1>

<form action="/users/create-session" method="POST">
    <!-- never forget to name the input  -->
    <input type="email" required name="email" placeholder="Enter Email">
    <input type="password" required name="password" placeholder="Enter Password">
    <input type="submit" value="sign in">

</form>