<h1>sign-in</h1>

<form action="/users/create_session" method="POST">
    <input type="email" required placeholder="Enter Email">
    <input type="password" required placeholder="Enter Password">
    <input type="submit" value="sign in">

</form>